/* --------------------------------------------------------------
* フッター
*/

$footer-height: 26px;

@mixin create-footer-a-tag {
  color: #CCC;
  text-decoration: none;
  padding: 0 1rem;

  @include transition(all 2.0s cubic-bezier(0, 1, .4, 1));

  @media (min-width: $mediaWidthMedium) {
    line-height: $footer-height;
    display: block;
  }

  @media (max-width: $mediaWidthMedium) {
    border-bottom: 1px solid #606060;
    display: block;
    padding: 0.25rem 0;
    text-align: center;
  }

  &:hover {
    background: $colorBaseGray;
    color: #FFF;
    @include transition(all 0.15s cubic-bezier(0, 1, .4, 1));
  }
}

#footer-facebook {
  margin: 0 auto 2em;
  max-width: $contentWidth;
  background: #fff;
}

#footer-menu-container {

  bottom: 0;

  color: #fff;
  position: relative;
  width: 100%;
  border-top: 1px solid #888;

  @include transition(transform 0.6s ease);

  &.active {
    position: fixed;
    @media (min-width: $mediaWidthMedium) {

    }
    @media (max-width: $mediaWidthMedium) {
    }

    background: rgba(0, 0, 0, 0.70);
  }

  div.footer-menu {
    max-width: $contentWidth;
    margin: 0 auto;

    #footer-menu-inside {

      @media (max-width: $mediaWidthLarge) {
        max-width: $contentWidth;
      }

      margin: 0 auto;
      @include clearfix;

      .count {
        font-size: 0.75rem;
      }

      nav {
        @media (max-width: $mediaWidthMedium) {
          display: none;
        }
      }

      p.footer-menu-meta {
        color: #bababa;
        font-size: 80%;
        position: absolute;
        top: 46px;
        @media (max-width: $mediaWidthMedium) {
          display: none;
        }
      }
      ul#footer-menu {
        margin-bottom: 0;

        @media (min-width: $mediaWidthMedium) {
          float: left;
          @include clearfix;
        }

        @media (max-width: $mediaWidthMedium) {

        }

        li {

          border-left: dotted #333 1px;

          &:first-child {
            border-left: none;
          }

          font-size: 0.8rem;

          @media (min-width: $mediaWidthMedium) {
            display: block;
            float: left;
          }

          @media (max-width: $mediaWidthMedium) {

          }

          a, a:visited, a:active {
            @include create-footer-a-tag;

            &.icon {
              @media (min-width: $mediaWidthMedium) {
                width: 22px;
                height: $footer-height;
                overflow: hidden;
              }
              display: block;
              padding-top: 5px;
            }

            &.iconListRss {
              // モバイルの時はRSSアイコンは非表示にする
              @media (max-width: $mediaWidthMedium) {
                display: none;
              }
            }
          }

        }

      }

      div.post_info {

        @include clearfix;

        @media (min-width: $mediaWidthMedium) {
          float: right;
          list-style: none;
        }

        @media (max-width: $mediaWidthMedium) {
          text-align: center;
        }

        a, a:visited, a:active {
          @include create-footer-a-tag;
        }

        div.tweet, div.hatebu, div.facebook {
          list-style: none;
          float: left;
          @media (max-width: $mediaWidthMedium) {
            margin: 0;
            width: 33.33%;
          }

          &:first-child {
            margin: 0;
            padding: 0;
          }

          line-height: $footer-height;
        }

        div.tweet {
          a {
            background-color: $colorShareTwitter;
          }
        }

        div.facebook a {
          background-color: $colorShareFacebook;
        }

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            background: $colorBaseGray;
            @include transition(background 0.15s cubic-bezier(0, 1, .4, 1));
          }
        }
      }
    }
  }

}

#footer-bottom {
  background-image: url(../../imgs/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: black;

  color: #fff;
  .footer-sections, #copyright {

    max-width: $contentWidth;

    @media (max-width: $contentWidth) {
      padding: 0 1em;
    }

    margin: 0 auto;
    @include clearfix;
  }

  .footer-section {

    @media (min-width: $mediaWidthMedium) {
      float: left;

      &.small {
        width: 16%;
        margin-right: 2%;
      }

      &.large {
        width: 30%;
        margin-right: 5%;
      }

      &:last-child {
        margin-right: 0%;
      }

      img {
        max-width: 100%;
        height: auto;

        //				@include filter(grayscale(100%));
      }

    }
    @media (max-width: $mediaWidthMedium) {

      // モバイルの時は表示しない (将来的に表示させるようにしたい)
      display: none;

      width: 100%;
      float: none;
      margin: 4em 2em;

      img {
        display: none;
      }
    }

    p, ul, a, a:hover, a:visited, a:active {
      color: #bababa;
      font-size: 0.75rem;
      line-height: 200%;
      margin-bottom: 1em;
    }
    a, a:visited, a:active {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    .widget_title {
      font-size: 1.0rem;
      margin: 3em 0 1em;
      font-weight: bold;
      color: #fff;
    }

    .cat-item {
      &:before {
        content: "\f07c";
        font-family: FontAwesome;
        padding-right: 0.5rem;
        color: #666;
      }
    }

    ul.author li {
      &:before {
        content: "\f007";
        font-family: FontAwesome;
        padding-right: 0.5rem;
        color: #666;
      }
    }

  }

  #copyright {
    text-align: center;
    font-size: 0.75rem;

    @media (min-width: $mediaWidthMedium) {
      padding: 10em 0 2em;
    }
    @media (max-width: $mediaWidthMedium) {
      padding: 2em 0 2em;
    }
  }
}

