@import 'compass';
@import "compass/utilities/general/clearfix";

// ======================================================
// 定数
// ======================================================
$colorTheme: #6ebdfb;
$colorThemeDark: #222222;
$boldColor: #E91E63;
$colorBaseGray: #424242;
$colorBaseLightGray: #666666;
$colorBodyBg: #f9f9f9;
$colorGrayLight: #E0E0E0;

// SNS 系のカラー
$colorShareTwitter: #55acee;
$colorShareFacebook: #3b5998;
$colorShareHatena: #2c6ebd;
$colorShareGoogle: #dd4b39;

$colorTextLinkNormal: #2196F3;
//#3498db
$colorTextLinkVisited: #795548;
$colorTextLinkActive: #42A5F5;

/* Medium Devices, Desktops */
$contentLargeWidth: 1280px;

/* Medium Devices, Desktops */
$mediaWidthLarge: 970px;
/* Small Devices, Tablets */
$mediaWidthMedium: 750px;
/* Custom, iPhone Retina */
$mediaWidthSmall: 320px;

$contentWidth: 960px;

// メディアクエリー対応時の左右のパディング
$contentHorizontalPadding: 12px;

/**
* これを @include するだけでロールオーバーエフェクトが実装できる便利なエフェクト
*/
@mixin rollOverEffect() {
  &:hover {
    &:after {
      border: 12px solid rgba(255, 255, 255, 0.7);
      background: rgba(255, 255, 255, 0.2);

      @include transition(all 0.25s cubic-bezier(0, 1, .4, 1));
    }
  }

  &:after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0px solid rgba(255, 255, 255, 0);
    background: rgba(0, 0, 0, 0);

    @include transition(all 3.5s cubic-bezier(0, 1, .4, 1));
  }
}

@mixin gradationBorder() {
  @include background-image(linear-gradient(right,
          rgba(189, 195, 199, 0),
          rgba(189, 195, 199, 1.0),
          rgba(189, 195, 199, 1.0),
          rgba(189, 195, 199, 0)));
}

@mixin gradationBorderLeft() {
  @include background-image(linear-gradient(left,
          rgba(189, 195, 199, 1.0),
          rgba(189, 195, 199, 1.0),
          rgba(189, 195, 199, 0)));
}

/**
* 出現エフェクト (クラス「 show 」を JS で付けるようにお願いします)
*/
@mixin showElementEffect() {
  // 出現エフェクト
  @media (min-width: $mediaWidthMedium) {
    opacity: 0.0;
    @include transform(translate(-100px, 0));
    &.show {
      opacity: 1.0;
      @include transform(translate(0px, 0));
      @include transition(all 1.0s cubic-bezier(0.19, 1, 0.22, 1) 0.1s);
    }
  }
}

@mixin createGradientBackground() {
  @include background-image(linear-gradient(left,
          #6ebdfb,
          #80deea));
}

$supported-browsers: reject(browsers(),
  /* android, */
        blackberry,
  /* chrome,*/
  /* android-chrome,*/
        firefox,
        android-firefox,
        ie,
        ie-mobile,
  /* safari,*/
  /* ios-safari,*/
        opera,
        opera-mini,
        opera-mobile
);

html {

  @media (min-width: $mediaWidthMedium) {
    font-size: 100%;
  }
  @media (max-width: $mediaWidthMedium) {
    font-size: 90%;
  }
}

//$font-base : sans-serif;
$font-base : -apple-system, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

body {
  font-family: $font-base;
  font-feature-settings: "palt";
}

img {
  vertical-align: bottom;
}

#container {
  background: $colorBodyBg;
}

@media print {
  a:after {
    content: " (" attr(href) ") "
  }
}

// Bootstrap 4 では ul のパディングが存在するための回避策
ul {
  padding: 0;

  li {
    list-style: none;
  }
}

iframe {
  border: 0;
}

@import "header";
@import "footer";
@import "tutorial";

//--------------------------------------
// WP-PageNavi
//--------------------------------------
.nextpostslink, .previouspostslink {
  font-family: FontAwesome;
}

//--------------------------------------
// 余白調整
//--------------------------------------
@mixin create-row-spacing($gap) {
  margin-left: -1 * $gap;
  margin-right: -1 * $gap;

  & > [class*="col-"] {
    padding-left: $gap;
    padding-right: $gap;
  }
}
