/* --------------------------------------------------------------
* フッター
*/

$footer-height: 26px;

@mixin create-footer-a-tag {
  color: #ccc;
  text-decoration: none;
  padding: 0 1rem;

  transition: all 2s cubic-bezier(0, 1, 0.4, 1);

  @media (min-width: $mediaWidthMedium) {
    line-height: $footer-height;
    display: block;
  }

  @media (max-width: $mediaWidthMedium) {
    border-bottom: 1px solid #606060;
    display: block;
    padding: 0.25rem 0;
    text-align: center;
  }

  &:hover {
    background: $colorBaseGray;
    color: #fff;
    transition: all 0.15s cubic-bezier(0, 1, 0.4, 1);
  }
}

#footer-facebook {
  margin: 0 auto 2em;
  max-width: $contentWidth;
  background: #fff;
}

.footer-message {
  bottom: 0;

  color: #fff;
  background: black;
  position: sticky;
  width: 100%;
  height: 26px;

  @media (max-width: $mediaWidthMedium) {
    // モバイルの時は表示しない
    display: none;
  }

  &__inner {
    max-width: $contentWidth;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 0.8rem;
      line-height: 26px;
      color: #bababa;
    }

    ul {
      margin-bottom: 0;
      display: flex;

      li {
        &:first-child {
          border-left: none;
        }

        font-size: 0.8rem;

        a,
        a:visited,
        a:active {
          @include create-footer-a-tag;

          &.icon {
            @media (min-width: $mediaWidthMedium) {
              width: 22px;
              height: $footer-height;
              overflow: hidden;
            }
            display: block;
            padding-top: 5px;
          }

          &.iconListRss {
            // モバイルの時はRSSアイコンは非表示にする
            @media (max-width: $mediaWidthMedium) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.footer-detail {
  background-color: black;

  color: #fff;
  &__sections,
  &__copyright {
    max-width: $contentWidth;
    margin: 0 auto;
    @media (max-width: $contentWidth) {
      padding: 0 1em;
    }
  }
  &__sections {
    display: flex;

    @media (max-width: $mediaWidthMedium) {
      // モバイルの時は表示しない (将来的に表示させるようにしたい)
      display: none;
    }
  }
  &__section {
    @media (min-width: $mediaWidthMedium) {
      width: calc(33% + 20px);
      box-sizing: border-box;
      margin-right: 20px;

      &:last-child {
        margin-right: 0%;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    p,
    ul {
      color: #bababa;
      font-size: 0.75rem;
      line-height: 200%;
      margin-bottom: 1em;
    }
    a {
      transition: all 0.2s;
      &,
      &:visited,
      &:active,
      &:hover {
        color: #bababa;
        text-decoration: none;
      }
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }

    li a {
      &:before {
        content: "\f105";
        font-family: FontAwesome;
        padding-right: 0.5rem;
        color: #666;
      }
    }

    h2 {
      font-size: 1rem;
      margin: 3em 0 1em;
      font-weight: bold;
      color: #fff;
    }
  }

  &__copyright {
    text-align: center;
    font-size: 0.75rem;

    @media (min-width: $mediaWidthMedium) {
      padding: 10em 0 2em;
    }
    @media (max-width: $mediaWidthMedium) {
      padding: 2em 0 2em;
    }
  }
}
