.header-title {
  background: #000000;
  width: 100%;

  // .header-title__iner
  &__inner {
    max-width: $contentWidth;
    margin: 0 auto;

    line-height: 42px;
    height: 42px;
    display: flex;
    justify-content: space-between;

    h1 {
      //margin-top: 8px; // CreateJS入門サイトはOFFにする
      font-size: 1rem !important; // CreateJS入門サイトはOFFにする
      line-height: 34px;

      a {
        display: block;
        height: 26px;
        margin-top: 8px;

        .logoBlog {
          background: url("../images/logo-blog.png") no-repeat;
          background-size: cover;

          width: 477px;
          height: 26px;
          display: inline-block;
          text-indent: -9999px;
        }
      }

      @media (max-width: $mediaWidthLarge) {
        padding: 0 $contentHorizontalPadding;
      }

      @media (max-width: $mediaWidthMedium) {
        width: 100%;

        a {
          width: 180px;
          overflow: hidden;
        }
      }
    }

    @media (max-width: $mediaWidthMedium) {
      ul {
        display: none;
      }
    }
  }
}

.header-breadcrumb {
  background: #000000;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;

  &__inner {
    max-width: $contentWidth;
    margin: 0 auto;

    $itemHeight: 36px;

    font-size: 0.8rem;
    overflow: hidden;

    height: $itemHeight;
    display: flex;
    justify-content: space-between;

    ul {
      margin: 0;
      padding: 0;
      overflow: hidden;

      @media (max-width: $mediaWidthLarge) {
        padding-left: $contentHorizontalPadding;
      }

      li {
        line-height: $itemHeight;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;

        margin-left: 0.5em;
        color: #ccc;

        &:after {
          margin-left: 0.5em;
          content: "/";
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          &:after {
            content: "";
          }
        }

        a {
          transition: all 0.3s;

          line-height: inherit;

          &:hover {
            color: #fff;
          }
          &:active {
            color: $colorTextLinkActive;
          }
        }

        .date {
          color: #888;
        }
      }
    }

    a,
    a:visited,
    a:hover,
    a:active {
      color: #999;
      text-decoration: none;
    }

    nav {
      min-width: 60px;
      line-height: 36px;

      @media (max-width: $mediaWidthLarge) {
        margin-right: 10px;
      }
    }
  }

  // .header-breadcrumb__theme
  &__theme {
    color: #999;
    font-size: 0.8rem;
    line-height: 36px;
    margin-right: 10px;

    @media (max-width: $mediaWidthMedium) {
      display: none;
    }
  }

  .btn-theme {
    width: 16px;
    height: 16px;
    vertical-align: middle;

    &:focus {
    }

    &[aria-checked="true"] {
      border: 2px solid var(--primary);
    }
    &[aria-checked="false"] {
      border: 2px solid transparent;
      cursor: pointer;
    }
  }

  #btn-theme-light {
    background: var(--light);
    margin-right: 5px;
  }
  #btn-theme-dark {
    background: var(--gray-dark);
  }
}
