/* --------------------------------------------------------------
* シングルページ
*/
// ======================================================
// 定数
// ======================================================
$colorTheme: #6ebdfb;
$colorThemeDark: #222222;
$boldColor: #e91e63;
$colorBaseGray: #424242;
$colorBaseLightGray: #666666;
$colorBodyBg: #f9f9f9;
$colorGrayLight: #e0e0e0;

// SNS 系のカラー
$colorShareTwitter: #55acee;
$colorShareFacebook: #3b5998;
$colorShareHatena: #2c6ebd;
$colorShareGoogle: #dd4b39;

$colorTextLinkNormal: #2196f3;
//#3498db
$colorTextLinkVisited: #795548;
$colorTextLinkActive: #42a5f5;

$colorBlack: #404040;
$font-family-midashi: "游明朝 Regular", "YuMincho", "Hiragino Mincho ProN",
  "Hiragino Mincho Pro", serif;
$font-weight-midashi: bold;

/* Medium Devices, Desktops */
$mediaWidthLarge: 970px;
/* Small Devices, Tablets */
$mediaWidthMedium: 750px;
/* Custom, iPhone Retina */
$mediaWidthSmall: 320px;

$contentWidth: 640px;

// メディアクエリー対応時の左右のパディング
$contentHorizontalPadding: 12px;

@import "highlight.js/atom-one-dark";
@import "highlight.js/atom-one-light";

.theme-light {
  background: white;
  .aritcleBody {
    color: #555;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #444;
    }
    h2 {
      border-bottom-color: #ddd;
    }

    code {
      background-color: #fafafa;
      border-radius: 0.25rem;
    }

    a {
      color: #0275d8;
      text-decoration: none;
      font-weight: normal; // CreateJSサイト専用

      &:visited {
        color: $colorTextLinkVisited;
      }
      &:hover {
        text-decoration: underline;
      }
      &:active {
      }
    }
  }
}

.theme-dark {
  background: #1e1e1e;
  .aritcleBody {
    color: #d4d4d4;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: white;
    }
    h2 {
      border-bottom-color: #555;
    }
    code {
      background-color: #282c34; // highlight.jsと揃える
      border-radius: 0.25rem;
    }

    a {
      color: #3a9ddb;
      text-decoration: none;
      font-weight: normal; // CreateJSサイト専用

      &:visited {
        color: #d98e73;
      }
      &:hover {
        text-decoration: underline;
      }
      &:active {
      }
    }
  }
  .btn-secondary {
    color: #fff;
    background-color: #373a3c;
    border-color: #373a3c;

    &:hover {
      background-color: #515151;
    }
  }
  .text-data {
    color: #d4d4d4;
  }
}

body.tutorial {
  line-height: 175%;
  font-size: 1rem;

  @media (min-width: $mediaWidthMedium) {
    .pageContentContainer {
      max-width: $mediaWidthMedium;
      margin: 0 auto;
    }
  }

  @media (max-width: $mediaWidthMedium) {
    .pageContentContainer {
      padding: 0 $contentHorizontalPadding;
    }
  }

  #main {
    margin-top: 20px;
    margin-bottom: 50px;

    line-height: 175%;
    font-size: 1rem;

    @mixin createPageContentWidth($mediaW, $contentW) {
      @media (min-width: $mediaW) {
        .pageContentContainer {
          max-width: $contentW;
          margin: 0 auto;
        }
      }

      @media (max-width: $mediaW) {
        .pageContentContainer {
          padding: 0 $contentHorizontalPadding;
        }
      }
    }

    // ノートパソコンの高さ
    $mediaScreenHeightMedium: 700px;
    @media (min-height: $mediaScreenHeightMedium) {
      @include createPageContentWidth($mediaWidthLarge, $contentWidth);
    }
    @media (max-height: $mediaScreenHeightMedium) {
      @include createPageContentWidth($mediaWidthMedium, 640px);
    }

    div.article {
      overflow: hidden;

      .syntaxhighlighter {
        font-size: 0.8rem !important;
      }

      b,
      strong {
        font-weight: bold;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      object,
      embed,
      video {
        max-width: 100%;
      }

      p {
        margin: 1.5em 0;
        text-align: left;
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        line-height: 1.5;
        font-family: $font-family-midashi;
        font-weight: $font-weight-midashi;
        font-feature-settings: "palt";
        letter-spacing: 1px;
      }

      h2 {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding: 0.25em 0;
        font-size: 1.5rem;
      }
      h3 {
        font-size: 1.25rem;
      }

      code {
        font-family: "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas,
          "Liberation Mono", "Courier New", "メイリオ", monospace;
        font-feature-settings: "palt" 0, "pkna" 0;
      }

      .hljs {
        border-radius: 3px;
        padding: 16px; // GitHub と同じ指定
      }

      ul,
      ol {
        padding-left: 2em;

        li {
        }
      }
      ul {
        li {
          list-style: inherit;
        }
      }
      ol {
        li {
          list-style: decimal;
        }
      }

      div.text-data {
        font-size: 0.75rem;
        line-height: 1.5;
        font-style: normal;
        text-align: center;
      }
    }
  }
}

#archive-image-wrap {
  width: 100%;
  height: 0;
  position: relative;
  @media (min-width: $mediaWidthMedium) {
    padding-bottom: 30%;
  }
  @media (max-width: $mediaWidthMedium) {
    height: 200px;
  }

  background: #000;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.7;
  }

  div.title {
    text-align: center;
    margin: -50px auto 0px;
    width: 100%;
    color: white;
    position: absolute;
    top: 55%;
    font-family: $font-family-midashi;
    font-weight: $font-weight-midashi;

    p {
      font-size: 1.1rem;
      max-width: $contentWidth;
      margin: 0 auto;
      margin-bottom: 0.5em;
      color: rgba(255, 255, 255, 0.8);
      font-feature-settings: "palt";
      letter-spacing: 1px;
    }
    h1 {
      max-width: $contentWidth;
      margin: 0 auto;
      font-size: 1.7rem;
      font-feature-settings: "palt";
      letter-spacing: 2px;
    }
  }
}

#archive-image-wrap {
  padding-bottom: 20%;
}

.btn {
  .fa {
    margin-right: 5px;
  }
}

.link-index {
  margin-bottom: 10px;
}

.share-twitter {
  margin-right: 10px;
}
